.DecorControls {
  flex: 0 0 250px;
  border-radius: 2rem;
  padding: 1rem;
  background-color: rgb(251, 232, 253);
  color:rgb(185, 71, 230) ;

  text-align: center;
  margin: 20px 0px;
  font-size: 24px;
  color: #08289a;
}
