.DecorControls {
  flex: 0 0 250px;
  border-radius: 2rem;
  padding: 1rem;
  background-color: rgb(249, 238, 252);
  color:  rgb(188, 75, 240);
  text-align: center;
margin: 20px 0px;
font-size: 24px;
}
