.Toolbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 25px;
  color: rgb(243, 137, 155);
  background-color: rgb(245, 224, 224);
  box-shadow: 0 0 10px rgba(0, 0 , .5);

  position: sticky;
  top:0;
  left: 0;
}