
.DecorPreview {
  flex: 0 0 400px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: center;
}

.decor{
  width: 400px;
  height: 400px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.butterflies{
 position: relative;
 width: 500px;
 height: 380px;
 background-size: cover;
}

.price {
  background-color: rgb(228, 188, 247);
  box-shadow: 0 0 7px rgb(90, 34, 100);
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.7rem;
  color: rgb(187, 39, 187);
  font-weight: bold;
}