
.DecorPreview {
  flex: 0 0 400px;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: center;
border: 7px dotted  rgb(188, 75, 240);
margin: 20px 20px;
}

.decor{
  width: 600px;
  height: 540px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butterflies{
 position: relative;
  background-repeat: no-repeat;
  border:  10px solid ;
    width: 600px;
    height: 500px;
    justify-content:center;
    position: relative;
  
}
.price {
  background-color: rgb(235, 195, 252);
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.7rem;
  color:  rgb(188, 75, 240);
  font-weight: bold;
}