form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
form > input{
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 3px solid rgb(136, 56, 160);
    font-size: 20px;
}
.Buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 300px;
}
h1{
    display: flex;
    align-items: center;
    width: 350px;
    height: 130px;
    padding-left: 10px;
   background-color: rgb(249, 235, 253);
   background: -webkit-linear-gradient(305deg, #c088e6, #e9e7e9);
   
   text-transform: uppercase;
    font-size: 60px;
    color: rgb(180, 43, 221);
  }